<div class="card-group">
  <div class="card" width="10">
    <div class="card-body">
      <a title="Ver {{ name }}" href="/products/product/{{ id }}">
        <img
          src="../../../../assets/img/camisa-social-branca.jpg"
          style="width: 12rem"
          class="card"
          alt="..."
        />
      </a>
      <h5 class="card-title">{{ name | uppercase }}</h5>
      <span class="badge bg-success">Ativo</span>
      <p class="card-text">{{ description }}</p>
      <p class="card-text">ID: {{ id }}</p>
      <p class="card-text">
        <small class="text-muted">
          <a
            title="Ver {{ name }}"
            href="/products/product/{{ id }}"
            class="btn btn-primary float-end"
            >{{ price | currency: "BRL" }}
          </a></small
        >
      </p>
    </div>
  </div>
</div>
