<div class="card" style="width: 18rem">
  <img [src]="image" class="card-img-top" alt="..." />
  <div class="card-body">
    <h5 class="card-title">
      {{ name | uppercase }}
    <span *ngIf="status; else elseBlock" class="badge bg-success">Ativo</span>
    <ng-template #elseBlock>
      <span class="badge bg-danger">Inativo</span>

    </ng-template>
    </h5>
    <p class="card-text">{{ description }}</p>
    <p class="card-text">ID: {{ id }}</p>
    <a href="#" class="btn btn-primary float-end">{{ price | currency: 'BRL' }} </a>
  </div>
</div>
