<h1 class="my-3 text-primary">Atualizar {{ product.name }}</h1>

<div class="card shadow">
  <form class="m-3">
    <div class="form-row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="name">Produto</label>
          <input
            type="text"
            class="form-control"
            id="name"
            [(ngModel)]="product.name"
            placeholder="Insira o nome do produto"
            name="name"
          />
        </div>
      </div>
    </div>

    <div class="form-group" enctype="multipart/form-data">
      <div class="input-group mb-3 my-4 col-md-6">
        <input
          type="file"
          class="file-input form-control"
          id="inputGroupFile01"
          (change)="onFileSelected($event)"
          #fileUpload
          [(ngModel)]="product.image"
          name="image"
        />
        <div class="file-upload">
          {{ product.image }}

          <button
            color="primary"
            class="btn btn-outline-primary btn-sm"
            (click)="fileUpload.click()"
          >
            <i class="fa fa-paperclip" aria-hidden="true"></i>
            Trocar imagem
          </button>
        </div>
      </div>
    </div>

    <div class="form-check form-switch my-4">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="flexSwitchCheckDefault"
        name="status"
        [(ngModel)]="product.status"
      />
      <label class="form-check-label" for="flexSwitchCheckDefault"
        >Produto {{ product.status }}
      </label>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="description">Descrição</label>
          <input
            type="text"
            class="form-control"
            id="description"
            placeholder="Insira a descrição do produto"
            name="description"
            [(ngModel)]="product.description"
          />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="stock">Estoque</label>
          <input
            type="number"
            class="form-control"
            id="stock"
            placeholder="0"
            name="stock"
            [(ngModel)]="product.stock"
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="price">Preço</label>
          <input
            type="number"
            class="form-control"
            id="price"
            placeholder="0,00"
            name="price"
            [(ngModel)]="product.price"
          />
        </div>
      </div>
    </div>

    <br />
    <div class="row">
      <div class="col">
        <button class="btn btn-secondary" (click)="goToBack()">
          <i class="fa fa-arrow-left" aria-hidden="true"></i>
          Voltar
        </button>
        <button
          type="button"
          class="btn btn-warning float-end"
          (click)="saveProduct()"
          routerLink="/products"
        >
          <i class="fa fa-floppy-o" aria-hidden="true"></i>
          Salvar
        </button>
      </div>
    </div>
  </form>
</div>
