<h1 class="my-3 text-primary">Atualizar {{ product.name }}</h1>

<div class="card shadow">
  <form class="m-3">
    <div class="form-row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="name">Produto</label>
          <input
            type="text"
            class="form-control"
            id="name"
            placeholder="Insira o nome do produto"
            name="name"
            [(ngModel)]="product.name"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="image">Imagem</label>
          <input
            type="text"
            class="form-control"
            id="image"
            placeholder="Insira a imagem do produto"
            name="image"
            [(ngModel)]="product.image"
          />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="description">Descrição</label>
          <input
            type="text"
            class="form-control"
            id="description"
            placeholder="Insira a descrição do produto"
            name="description"
            [(ngModel)]="product.description"
          />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="stock">Estoque</label>
          <input
            type="number"
            class="form-control"
            id="stock"
            placeholder="0"
            name="stock"
            [(ngModel)]="product.stock"
          />
        </div>
      </div>
      <!--
      <div class="col-md-6">
        <div class="form-group">
          <label for="status">Status</label>
          <input
            type="text"
            class="form-control"
            id="status"
            placeholder="Insira o nome do produto"
            name="status"
            [(ngModel)]="product.status"
          />
        </div>
      </div> -->
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="price">Preço</label>
          <input
            type="number"
            class="form-control"
            id="price"
            placeholder="0,00"
            name="price"
            [(ngModel)]="product.price"
          />
        </div>
      </div>

      <!-- <div class="form-group col-md-6">
        <label for="inputEstado">Estado</label>
        <select id="inputEstado" class="form-control">
          <option selected>Escolher...</option>
          <option>...</option>
        </select>
      </div> -->
    </div>

    <!-- <div class="form-group my-2">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck" />
        <label class="form-check-label" for="gridCheck"> Ativo </label>
      </div>
    </div> -->
    <br />
    <div class="row">
      <div class="col">
        <button class="btn btn-secondary" (click)="goToBack()">
          <i class="fa fa-arrow-left" aria-hidden="true"></i>
          Voltar
        </button>
        <button
          type="button"
          class="btn btn-warning float-end"
          (click)="saveProduct()"
          routerLink="/products"
        >
          <i class="fa fa-floppy-o" aria-hidden="true"></i>
          Salvar
        </button>
      </div>
    </div>
  </form>
</div>
